.search-bar {
  margin-top: 20px;
}

.search-bar input {
  padding: 10px;
  width: 250px;
  border-radius: 6px;
  border: none;
}

.search-bar button {
  padding: 10px 15px;
  margin-left: 10px;
  border: none;
  background: #22c55e;
  color: white;
  cursor: pointer;
}