.pagination-container { 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #FCF9EA;
}

.pagination-btn-container{
  display: inline-flex;
  gap: 20px;
}


.pagination-btn {
  min-width: 50px;
  height: 40px;
  background-color: #BADFDB;
  border-radius: 8px;
  padding: 8px;
}

.active-btn {
  background-color: #AEDEFC;
}

.pagination-nav-btn{
  width: 80px;
}

.pagination-nav-btn:hover {
  background-color: #F875AA
}