* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.d-container {
  width: 300px;
  margin: 100px auto;
}

.d-search-bar {
  position: relative;
}

.d-search-input {
  width: 100%;
  padding: 8px;
}

.d-suggestions {
  position: absolute;
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  max-height: 150px;
  overflow-y: auto;
  z-index: 10;
}

.d-suggestions-user {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.a-container {
  padding: 20px;
  width: 300px;
}

.a-search-bar {
  position: relative;
  width: 300px;
}

.a-search-input {
  width: 100%;
  padding: 8px;
}

.a-suggestions {
  position: absolute;
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  /* max-height: 150px; */
  overflow-y: auto;
  z-index: 10;
}

.a-suggestions-user {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.todo-app-container {
  width: 400px;
  margin: 50px auto;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.input-group input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.task-item {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: #f9f9f9;
  border-radius: 4px;
}

.task-text {
  cursor: pointer;
  margin-right: 10px;
  flex: 1;
}

.action-buttons {
  display: flex;
  gap: 5px;
}

.action-buttons button {
  padding: 4px 8px;
  font-size: 0.8rem;
  cursor: pointer;
}
